@import "tailwindcss";



:root {
  --background: var(--color-mist-200);
  --foreground: var(--color-mist-600);
  --text-color: var(--color-mist-100);
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text-color);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark){
  :root{
    --background: var(--color-mist-950);
    --foreground: var(--color-mist-700);
    --text-color: var(--color-mist-100);
  }
}

*{
  box-sizing: border-box;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

